// Login Page Styling

#login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .position-relative;
    @extend .text-center;

    .default-bg {
        @extend .background;
        color: #505050;
    }

    .login-box {
        max-width: 960px;
        margin: 0 auto;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        >.bg-img {
            padding: 0;
            border-radius: 10px 0 0 10px;
            background: rgba(0, 0, 0, 0.04) url(https://www.itl.cat/pngfile/big/149-1491781_tg-wallpaper.jpg) top left repeat;
            background-size: cover;
            top: 0;
            bottom: 0;
            opacity: 1;
        }

        .info {
            height: 450px;
            position: relative;

            >.logo {
                text-align: left;
                margin: 20px;

                >.nav-brand {
                    font-size: 22px;
                    @extend .font-bold;
                    color: white;
                }
            }

            >.btn-section {
                position: absolute;
                top: 40%;
                right: 0;
                margin-bottom: 0;


                .link-btn {
                    font-size: 12px;
                    @extend .font-bold;

                }

                .link-btn.active {
                    background: #66330088;
                    color: whitesmoke;
                }

                >.btn-primary {
                    @extend .text-center;
                    line-height: 30px;
                    width: 100px;
                    text-transform: uppercase;
                    border-radius: 30px 0 0 30px;
                    margin-bottom: 15px;
                    border: none;


                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

            }

        }
    }

    /* login form styling */
    .form-section {
        @extend .text-center;
        max-width: 400px;
        margin: 0 auto;
        padding: 2em;
        @extend .width-100;

        >.title {
            margin: 10px 0 50px 0;

            >h3 {
                font-size: 25px;
                @extend .font-bold;
                color: #505050;
            }
        }

        .login-inner-form {
            @extend .position-relative;
            color: #979797;

            .form-box {
                float: right;
                @extend .width-100;
                @extend .position-relative;

                // importing icons
                .icon {
                    position: absolute;
                    right: 25px;
                    top: 10px;
                }

                .icon.email::before {
                    @extend .font-awesome;
                    content: "\f0e0";
                }

                .icon.lock::before {
                    @extend .font-awesome;
                    @extend .font-bold;
                    content: "\f023";
                }

                .icon.user::before {
                    @extend .font-awesome;
                    content: "\f007";
                }

                // style input textbox
                >.input-text {
                    font-size: 14px;
                    outline: none;
                    color: #616161;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    @extend .background;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    padding: 11px 45px 11px 20px;
                    @extend .width-100;
                    margin-bottom: 10px;
                }

            }

            .primary-btn {
                background: rgb(255, 255, 255);
                background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 119, 0, 1) 40%);
                @extend .width-100;
                border: none;
                color: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                padding: 10px 30px 9px 30px;
                cursor: pointer;
                height: 45px;
                border-radius: 50px;
                margin-top: 20px;


                &:hover {
                    background: rgb(255, 255, 255);
                    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(174, 94, 3, 1) 41%);

                }
            }

            .error-log {
                display: inline;
                padding: 2px 10px;
                background-color: #ff0033;
                border-radius: 40px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

                >button {
                    background: transparent;
                    border: none;
                    color: #fff;
                    font-size: 13px;
                }

                .error::before {
                    @extend .font-awesome;
                    @extend .font-bold;
                    content: "\f188";
                }

            }

        }

    }


}

.h-40 {
    height: 40vh;

    background: linear-gradient(180deg, rgb(47, 47, 135) 0%, rgba(32, 15, 218, 0.384) 100%), url(https://cdn.pixabay.com/photo/2021/01/21/16/49/books-5937823_960_720.jpg) top left repeat;
    background-size: cover;
    color: #fff;

    @keyframes slideFromTop {
        0% {
            transform: translateY(-300%);
        }

        100% {
            transform: translateY(0);
        }

    }

    >h4 {
        animation: slideFromTop 1s ease-out 0.6s 1;
        top: auto;
        padding-top: 3em;
    }
}

.button1 {
    font-size: 20px;
    padding: 140px 60px;
    border-radius: 5px;
    margin: 10px 10px;
    transition: 1s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg, rgba(0, 1, 198, 0.5) 0%, rgba(255, 0, 27, 0.5) 100%), url(https://i.pinimg.com/originals/d0/1a/62/d01a620151ce09907e581d322590f8a6.jpg) top left repeat;
    background-repeat: no-repeat;
    background-size: 200px 320px;
    color: #fff;
    border: #fff;
}

// .button1:hover {
//     transform: scale(1.1);
//     box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
// }

.button2 {
    font-size: 20px;
    padding: 140px 60px;
    border-radius: 5px;
    margin: 10px 10px;
    transition: 1s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg, rgba(0, 1, 198, 0.5) 0%, rgba(255, 0, 27, 0.5) 100%), url(https://cdn.pixabay.com/photo/2015/02/05/11/07/news-624859_960_720.png) top left repeat;
    background-repeat: no-repeat;
    background-size: 175px 320px;
    color: #fff;
    border: #fff;
}

// .button2:hover {
//     transform: scale(1.1);
//     box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
// }

.button3 {
    font-size: 20px;
    padding: 140px 60px;
    border-radius: 5px;
    margin: 10px 10px;
    transition: 1s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg, rgba(0, 1, 198, 0.5) 0%, rgba(255, 0, 27, 0.5) 100%), url(https://media.istockphoto.com/vectors/laptop-with-envelope-and-document-on-screen-new-email-on-the-laptop-vector-id1299764624?k=20&m=1299764624&s=612x612&w=0&h=9_WeP3gTW69fwt0q8bm-Fq5yLrPBRdADs33QWFYrt0s=) top left repeat;
    background-repeat: no-repeat;
    background-size: 200px 320px;
    color: #fff;
    border: #fff;
}

.button3:hover,
.button2:hover,
.button1:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

}