// Login Page Styling

#login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    @extend .position-relative;
    @extend .text-center;

    .default-bg {
        @extend .background;
        color: #505050;
    }

    .login-box {
        max-width: 960px;
        margin: 0 auto;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        >.bg-img {
            padding: 0;
            // border-radius: 10px 0 0 10px;
            background: rgba(0, 0, 0, 0.04) url(https://www.itl.cat/pngfile/big/149-1491781_tg-wallpaper.jpg) top left repeat;
            background-size: cover;
            top: 0;
            bottom: 0;
            opacity: 1;
        }

        .info {
            height: 450px;
            position: relative;

            >.logo {
                text-align: left;
                margin: 10px;

                >.nav-brand {
                    font-size: 22px;
                    @extend .font-bold;
                    color: white;
                }
            }

            >.btn-section {
                position: absolute;
                top: 40%;
                right: 0;
                margin-bottom: 0;


                .link-btn {
                    font-size: 12px;
                    @extend .font-bold;

                }

                .link-btn.active {
                    background: #66330088;
                    color: whitesmoke;
                }

                >.btn-primary {
                    @extend .text-center;
                    line-height: 30px;
                    width: 100px;
                    text-transform: uppercase;
                    border-radius: 30px 0 0 30px;
                    margin-bottom: 15px;
                    border: none;


                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

            }

        }
    }

    /* login form styling */
    .form-section {
        @extend .text-center;
        max-width: 400px;
        margin: 0 auto;
        padding: 2em;
        @extend .width-100;

        >.title {
            margin: 0px 0 40px 0;

            >h3 {
                font-size: 25px;
                @extend .font-bold;
                color: #505050;
            }
        }

        .login-inner-form {
            @extend .position-relative;
            color: #979797;

            .form-box {
                float: right;
                @extend .width-100;
                @extend .position-relative;

                // importing icons
                .icon {
                    position: absolute;
                    right: 25px;
                    top: 10px;
                }

                .icon.email::before {
                    @extend .font-awesome;
                    content: "\f0e0";
                }

                .icon.lock::before {
                    @extend .font-awesome;
                    @extend .font-bold;
                    content: "\f023";
                }

                .icon.user::before {
                    @extend .font-awesome;
                    content: "\f007";
                }

                // style input textbox
                >.input-text {
                    font-size: 14px;
                    outline: none;
                    color: #616161;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    @extend .background;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    padding: 11px 45px 11px 20px;
                    @extend .width-100;
                    margin-bottom: 10px;
                }

            }

            .primary-btn {
                @extend .width-100;
                border: none;
                padding: 10px 30px 9px 30px;
                cursor: pointer;
                height: 45px;
                border-radius: 50px;
                margin-top: 20px;
                transition: 0.5s;
                color: white;
                background: linear-gradient(315deg, #c07200, #a16000);
                // box-shadow: 9px 9px 17px #f3f1ee,
                //     -5px -5px 17px #c37500;

                &:hover {

                    box-shadow: -9px -9px 17px #f3f1ee,
                        5px 5px 17px #c37500;
                }
            }

            .error-log {
                display: inline;
                padding: 2px 10px;
                background-color: #ff0033;
                border-radius: 40px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

                >button {
                    background: transparent;
                    border: none;
                    color: #fff;
                    font-size: 13px;
                }

                .error::before {
                    @extend .font-awesome;
                    @extend .font-bold;
                    content: "\f188";
                }

            }

        }

    }


}

.h-40 {
    height: 40vh;

    background: linear-gradient(180deg, rgb(47, 47, 135) 0%, rgba(32, 15, 218, 0.384) 100%), url(https://cdn.pixabay.com/photo/2021/01/21/16/49/books-5937823_960_720.jpg) top left repeat;
    background-size: cover;
    color: #fff;

    @keyframes slideFromTop {
        0% {
            transform: translateY(-300%);
        }

        100% {
            transform: translateY(0);
        }

    }

    >h4 {
        animation: slideFromTop 1s ease-out 0.6s 1;
        top: auto;
        padding-top: 3em;
    }
}

#button1 {
    background: linear-gradient(180deg, rgba(0, 1, 198, 0.5) 0%, rgba(255, 0, 27, 0.5) 100%), url(https://i.pinimg.com/originals/d0/1a/62/d01a620151ce09907e581d322590f8a6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#button2 {

    background: linear-gradient(180deg, rgba(0, 1, 198, 0.5) 0%, rgba(255, 0, 27, 0.5) 100%), url(https://cdn.pixabay.com/photo/2015/02/05/11/07/news-624859_960_720.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#button3 {

    background: linear-gradient(180deg, rgba(0, 1, 198, 0.5) 0%, rgba(255, 0, 27, 0.5) 100%), url(https://media.istockphoto.com/vectors/laptop-with-envelope-and-document-on-screen-new-email-on-the-laptop-vector-id1299764624?k=20&m=1299764624&s=612x612&w=0&h=9_WeP3gTW69fwt0q8bm-Fq5yLrPBRdADs33QWFYrt0s=);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main-menu {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    width: 20vw;
    font-size: 20px;
    padding: 110px 50px;
    border-radius: 5px;
    margin: 11px 15px;
    transition: 1s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    color: #fff;
    border: #fff;
    margin-top: 2em;



}

.menu-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

#add-cource {
    background: linear-gradient(180deg, rgba(0, 1, 198, 0.5) 0%, rgba(255, 0, 27, 0.5) 100%), url(https://i.pinimg.com/originals/d0/1a/62/d01a620151ce09907e581d322590f8a6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#add-admin {
    background: linear-gradient(180deg, rgba(0, 1, 198, 0.5) 0%, rgba(255, 0, 27, 0.5) 100%), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWo1PJwP2V9ZQzketb3HSL3WmkB91BLnJdzA&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#update {
    background: linear-gradient(180deg, rgba(0, 1, 198, 0.5) 0%, rgba(255, 0, 27, 0.5) 100%), url(https://media.istockphoto.com/vectors/laptop-with-envelope-and-document-on-screen-new-email-on-the-laptop-vector-id1299764624?k=20&m=1299764624&s=612x612&w=0&h=9_WeP3gTW69fwt0q8bm-Fq5yLrPBRdADs33QWFYrt0s=);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width:768px) {
    .menu-button {
        width: 80vw;
    }

    .add-cource {
        width: 80vw;
    }

    .add-update {
        width: 80vw;
    }


}

@media(min-width:1080px) {
    .menu-button {
        width: vw;
    }

    .add-cource {
        width: 50vw;
    }

    .add-update {
        width: 50vw;
    }

    .add-update #title {
        width: 45vw;
    }
}

.add-cource {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding: 2em;
    border-radius: 25px;
    background: #eeeeee;
    box-shadow: 20px 20px 60px #cacaca,
        -20px -20px 60px #ffffff;
}

.add-update {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding: 2em;
    border-radius: 25px;
    background: #eeeeee;
    box-shadow: 20px 20px 60px #cacaca,
        -20px -20px 60px #ffffff;
}

.input-text {
    padding: 0.3em;
    // margin: 0.5em;
    border-radius: 15px;

}

.form-group {
    margin: 0.25em;
}

.btn-add-cource {
    border: 0px solid black;
    padding: 0.5em;
    width: 100%;
    margin-top: 1em;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(41deg, rgba(178, 126, 213, 1) 0%, rgba(142, 156, 204, 1) 22%, rgba(50, 223, 186, 1) 77%, rgba(121, 191, 255, 1) 100%);
}

.btn-add-update {
    border: 0px solid black;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(41deg, rgba(178, 126, 213, 1) 0%, rgba(142, 156, 204, 1) 22%, rgba(50, 223, 186, 1) 77%, rgba(121, 191, 255, 1) 100%);


}

.btn-add-update:hover {
    // background: rgb(178, 126, 213);

    color: #fff;
    // background: linear-gradient(41deg, rgba(178, 126, 213, 1) 0%, rgba(142, 156, 204, 1) 22%, rgba(50, 223, 186, 1) 77%, rgba(121, 191, 255, 1) 100%);
    box-shadow: 13px 13px 26px #cbcbcb,
        -13px -13px 26px #efefef;
}

.btn-add-cource:hover {
    // background: rgb(178, 126, 213);

    color: #fff;
    // background: linear-gradient(41deg, rgba(178, 126, 213, 1) 0%, rgba(142, 156, 204, 1) 22%, rgba(50, 223, 186, 1) 77%, rgba(121, 191, 255, 1) 100%);
    box-shadow: 13px 13px 26px #cbcbcb,
        -13px -13px 26px #efefef;
}

.btn-add-cource0 {
    padding: 0.5em;
    border-radius: 2em;
    color: #ebe9e9;
    background: rgb(178, 126, 213);
    background: linear-gradient(41deg, rgba(178, 126, 213, 1) 0%, rgba(142, 156, 204, 1) 22%, rgba(50, 223, 186, 1) 77%, rgba(121, 191, 255, 1) 100%);
}


.card {
    border-radius: 50px;
    background: linear-gradient(145deg, #c6c4c4, #ebe9e9);
    // box-shadow: 13px 13px 40px #cdcbcb,
    //     -13px -13px 40px #ebe9e9;
    margin: 0.5em;
    padding: 0.5em;
    transition: 0.5s;

}

.card:hover {
    border-radius: 50px;
    // background: linear-gradient(145deg, #faf6f6, #d3cfcf);
    box-shadow: 9px 9px 50px #a6a3a3,
        -18px -18px 100px #ffffff;
}

.card-header {
    background: #00000000;
}

.card-footer {
    background: #00000000;
}

.card-body {
    background: #00000000;
    border: 0;
}

.row {
    align-items: center;
    justify-content: center;
}

.card-footer a {
    text-decoration: none;
    color: #ffffff;
}