// import fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.primary-gradient {
    background: rgb(178, 126, 213);
    background: linear-gradient(41deg, rgba(178, 126, 213, 1) 0%, rgba(142, 156, 204, 1) 22%, rgba(50, 223, 186, 1) 77%, rgba(121, 191, 255, 1) 100%);
}


// import partial files
@import './sass/extends';
@import './sass/login';